@import "./vars";
@import "./mixins";


body {
    background-color: $color-light-primary;
    color: $color-dark-primary;
    font-family: $font-body;
    line-height: 1.5;
}

:local {
    .page {
        margin: 0 9px;
    }
}