$color-light-primary: #fff;
$color-light-secondary: #ccc;
$color-dark-primary: #222;
$color-dark-secondary: #666;
$color-dark-tertiary: #888;
$color-nav-home: #1a3a47;
$color-alert-primary: #d9372b;
$color-buyer-primary: #5783a8;

$font-body: 'Open Sans', sans-serif;
$font-title: 'Merriweather', serif;